#!/usr/bin/env bash
# packages hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
set -euo pipefail

{{ if ne .chezmoi.os "darwin" -}}
    "$HOME/.local/bin/mise" trust "$HOME/.config/mise/config.toml"
    "$HOME/.local/bin/mise" install
{{- end }}
