# ~~~~~~~~~~~~~~~ History ~~~~~~~~~~~~~~~~~~~~~~~~


HISTFILE="$HOME/.zsh_history"
HISTSIZE=100000
SAVEHIST=100000


# ~~~~~~~~~~~~~~~ Prompt ~~~~~~~~~~~~~~~~~~~~~~~~


#PURE_GIT_PULL=0

if [[ "$OSTYPE" == darwin* ]]; then
  fpath+=("$(brew --prefix)/share/zsh/site-functions")
else
  fpath+=($HOME/.zsh/pure)
fi
autoload -U promptinit; promptinit

prompt pure


# enable zsh vi-mode
bindkey -v
export KEYTIMEOUT=1 # make switching between modes faster


# ~~~~~~~~~~~~~~~ Environment Variables ~~~~~~~~~~~~~~~~~~~~~~~~


if command -v nvim > /dev/null ; then
  export EDITOR="nvim"
  export VISUAL="nvim"
fi

export LANG="en_US.UTF-8"


# ~~~~~~~~~~~~~~~ Mise ~~~~~~~~~~~~~~~~~~~~~~~~

if [[ "$OSTYPE" != darwin* ]]; then
  if command -v mise > /dev/null ; then
    eval "$($HOME/.local/bin/mise activate zsh)"
  fi
fi

# ~~~~~~~~~~~~~~~ Completion ~~~~~~~~~~~~~~~~~~~~~~~~


autoload -Uz compinit && compinit

# Enable menu-style completion (highlight + cycle)
zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}' 'r:|[._-]=* r:|=*'

# Make Tab trigger completion and Shift-Tab go backward
bindkey '^I' expand-or-complete
bindkey '\e[Z' reverse-menu-complete

# Optional: start menu after one Tab and keep cycling
setopt AUTO_MENU
setopt MENU_COMPLETE

if command -v fzf > /dev/null ; then
  source <(fzf --zsh)
fi

if command -v flux > /dev/null ; then
  source <(flux completion zsh)
fi


if command -v mise > /dev/null ; then
  source <(mise completion zsh)
fi


# ~~~~~~~~~~~~~~~ Aliases ~~~~~~~~~~~~~~~~~~~~~~~~
alias lab="cd ~/git/lab/"

if command -v vim > /dev/null ; then
  alias v="vim"
fi

if command -v kubectl > /dev/null ; then
  alias k="kubectl"
  alias kgp="kubectl get pods"
fi

if command -v lazygit > /dev/null ; then
  alias lg="lazygit"
fi


if command -v git > /dev/null ; then
  alias gp="git pull"
fi

if command -v bat > /dev/null ; then
  alias cat="bat"
fi

if command -v lsd > /dev/null ; then
  alias ls="lsd"
  alias ll="ls -lgh"
  alias la="ls -lathr"
  alias lla="ls -lgha"
  alias lt="ls --tree"
fi

# Trust mise config only if not already trusted (silent)
if command -v mise >/dev/null 2>&1; then
    for f in "$HOME/.config/mise/config.toml" "$HOME/.local/share/chezmoi/dot_config/mise/config.toml"; do
        [ -f "$f" ] && ! mise trust --check "$f" >/dev/null 2>&1 && mise trust "$f" >/dev/null 2>&1
    done
fi

### MANAGED BY RANCHER DESKTOP START (DO NOT EDIT)
export PATH="/Users/ericsaindon/.rd/bin:$PATH"
### MANAGED BY RANCHER DESKTOP END (DO NOT EDIT)
